@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.blue__text {
  color: #6415ff;
}

/* HEADER  */

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px;
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.letter__t--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #6415ff;
  margin-right: 4px;
  border-radius: 3px;
}

.letter_t {
  color: white;
  font-weight: 600;
}

.logo span {
  font-size: 24px;
  font-weight: 800;
}

.links {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.links ul {
  list-style-type: none;
}

.generic__links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.generic__links li,
.user__links li {
  position: relative;
}

.generic__links a,
.user__links a {
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-weight: 600;
  font-size: 14px;
}

.generic__links a:hover,
.user__links a:hover {
  color: #6415ff;
}

.user__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27%;
}

.link__underline {
  position: absolute;
  background-color: transparent;
  height: 2px;
  width: 100%;
  transition: all ease 300ms;
}

.generic__links a:hover + .link__underline,
.user__links a:hover + .link__underline {
  background-color: #6415ff;
}

.nav__signup--btn {
  border: none;
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #6415ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.nav__signup--btn:hover {
  background-color: #530ce2;
  cursor: pointer;
}

.header__description--container {
  display: flex;
  margin: 0 8px;
}

.header__description {
  width: 50%;
}

.header__description h2 {
  font-size: 48px;
  font-weight: 700;
  width: 80%;
  margin-bottom: 24px;
}

.header__description p {
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
  color: rgb(117, 114, 114);
  margin-bottom: 24px;
}

.header__input--container {
  position: relative;
  margin-bottom: 24px;
  border: 2px solid rgb(219, 217, 217);
  width: 70%;
  padding: 16px 8px;
  border-radius: 50px;
}

.header__input--container input {
  border: none;
}

.header__input--container button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 14px 24px;
  border-radius: 50px;
  background-color: #6415ff;
  color: white;
  font-weight: 700;
}

.trusted__customers span {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}

.header__img--wrapper {
  width: 50%;
}

.header__img {
  width: 100%;
}
