@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER  */

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.letter__T--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 16px;
  background-color: rgb(100 21 255);
  border-radius: 2px;
  margin-right: 8px;
}

.letter__t {
  font-size: 26px;
  font-weight: 600;
  color: white;
}

.treact {
  font-size: 26px;
  font-weight: 800;
}

.links {
  display: flex;
  width: 560px;
  justify-content: space-between;
}

.main__links {
  display: flex;
  list-style-type: none;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.link__container {
  position: relative;
}

.main__links .link,
.user__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #243e63;
}

.link__underline {
  height: 2px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.link__container:hover .link__underline,
.user__link--container:hover .link__underline {
  background-color: rgb(100 21 255);
}

.main__links .link:hover {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: rgb(119, 51, 255);
}

.user__links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.signup__button--wrapper {
  width: 60%;
}

.signup__btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 50px;
  color: white;
  background-color: rgb(100 21 255);
  transition: background-color 200ms ease;
}

.signup__button--wrapper:hover .signup__btn {
  cursor: pointer;
  background-color: rgb(78, 15, 206);
}
